button#button-theme{
	background: transparent;
	border: none;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

button#button-theme:focus {
    outline: none;
}

body{
	font-family: 'Inconsolata', monospace;
}

/* theme */
body#body.dark-mode {
	background-color: #282828;
	color: #fff;
  }
body#body.dark-mode div.accordion-container h4{
	color: #fff;
}
body#body.dark-mode div.accordion-container div.set{
	background-color: #444;
}
body#body.dark-mode div.accordion-container div.set a{
	color: #fff;
	border-bottom: 1px solid black;
}
body#body.dark-mode div.accordion-container div.set div.content ul{
	color: #555;
}

body#body.dark-mode div.booktable table{
	color: white;
}

body#body.dark-mode nav.bg-nav{
	background-color: #343434;
	color: #fff;
}
body#body.dark-mode a{
	color: #fff;
}
body#body.dark-mode a:hover{
	color: #3399cc;
}
  
body#body.light-mode {
	background-color: #fff;
	color: #555;
  }

body#body.light-mode div.booktable table{
	color: #555;
}

a{
	color: #555;
}

a:hover{
	color: #3399cc;
}

.bg-nav{
	background-color: #f8f9fa;
}

.padding-welcome{
	padding-top: 30px;
	padding-bottom: 30px;
}

.row{
	margin-left: 0;
	margin-right: 0;
}

.p0{
	padding: 0% 0% 0% 0%;
}

.btn {
	float: right;
}

.middle {
    margin-top: 15%;
}

#loginButton.btn {
	float: none;
}

#logoutButton.btn {
	float: none;
}

.booktable {
	padding-left: 10%;
	padding-right: 10%;
}

.mb-30{
	margin-bottom: 30px;
}

.table-hover tbody tr:hover{
	color: inherit;
}

.form {
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
}	

.form input, .form select, .form textarea {
	outline: none;
	background: none;
	padding: 5px;
	width: 100%;
}

.form label{
   display: table;
   float: left;
   text-align: left;
   width: 80%;
   margin-top: 0.4em;
   margin-right: 20px;
}

/* accordion */
.accordion-container{
	position: relative;
	max-width: 500px;
	height: auto;
	margin: 10px auto;
	margin-bottom: 40px;
  }
.accordion-container > h4{
	text-align: center;
	color: #555;
	padding-bottom: 5px;
	padding-bottom: 15px;
  }
.set{
	position: relative;
	width: 100%;
	height: auto;
	background-color: #f1f3f4;
  }
.set > a{
	display: block;
	padding: 10px 15px;
	text-decoration: none;
	color: #555;
	font-weight: 600;
	border-bottom: 1px solid #ddd;
	-webkit-transition:all 0.2s linear;
	-moz-transition:all 0.2s linear;
	transition:all 0.2s linear;
  }
.set > a i{
	float: right;
	margin-top: 2px;
  }
.set > a.active{
	background-color:#3399cc;
	color: #fff;
  }
.content{
	background-color: #fff;
	border-bottom: 1px solid #ddd;
	display:none;
  }
.content p{
	padding: 10px 15px;
	margin: 0;
	color: #333;
  }

/* login */
.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
}
.login-form-2{
    padding: 5%;
    background: #0062cc;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3{
    text-align: center;
    color: #fff;
}
.login-container form{
    padding: 10%;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
	cursor: pointer;
}
.login-form-2 .btnSubmit{
    font-weight: 600;
    color: #0062cc;
    background-color: #fff;
}
.login-form-2 .ForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.container {
	width: 50%;
}

