{% extends 'pages/base.html' %}{% load static %}{%block page_content %}

<body id="body" class="dark-mode">
    <div class="padding-welcome">
    <div class="row text-center">
        <div class="col-12 p0">
            <h1>About Me</h1>
        </div>
    </div>
    </div>
    <div class="text-center">
        <h4>Nama</h4>
        <p>Nabila Ayu Dewanti</p><br>
        <h4>NPM</h4>
        <p>1806205312</p><br>
        <h4>Jurusan</h4>
        <p>Ilmu Komputer</p><br>
        <h4>Tempat Kuliah</h4>
        <p>Universitas Indonesia</p><br>
        <h4>Angkatan</h4>
        <p>2018</p><br>
        <h4>Hobi</h4>
        <p>Baca novel dan nonton TV series</p><br>
    </div>
    <div class="accordion-container">
      <h4>My Resume</h4>
      <div class="set">
        <a href="#">
          Aktivitas 
          <i class="fa fa-plus"></i>
        </a>
        <div class="content">
          <p>Pada saat ini, saya menjalani hari-hari sebagai mahasiswi Ilmu Komputer UI. Ditambah lagi, menjalani tanggungjawab sebagai PJ Kreatif BETIS 2020 dan staff BEM Fasilkom UI.</p>
        </div>
      </div>
      <div class="set">
        <a href="#">
          Organisasi/Kepanitiaan 
          <i class="fa fa-plus"></i>
        </a>
        <div class="content">
          <ul>
            <li><b>PIC of Creative</b><br>BETIS Fasilkom UI 2020</li>
            <li><b>Staff of Community Service Department</b><br>BEM Fasilkom UI</li>
            <li><b>Staff of Digital Marketing</b><br>COMPFEST</li>
            <li><b>Secretary II</b><br>Wisuda Genap Fasilkom UI 2019</li>
            <li><b>Staff of Event Division</b><br>BETIS Fasilkom UI 2019</li>
            <li><b>Staff of Design Division</b><br>9th OLIM UI</li>
          </ul>
        </div>
      </div>
      <div class="set">
        <a href="#">
          Prestasi
          <i class="fa fa-plus"></i>
        </a>
        <div class="content">
          <ul>
            <li><b>Top 10 Finalist, Technovation Arkavidia 5.0</b><br>Bandung Institute of Technology</li>
          </ul>
        </div>
      </div>
    </div>

<!-- external js -->
<script src="{% static 'js/myScript.js' %}"></script>
</body>
{% endblock %}