{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <!-- Google jQuery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <title>My Website</title>
</head>
<body id="body" class="dark-mode">
    <nav class="navbar navbar-expand-md bg-nav sticky-top">
        <div class="container-fluid">
        <a class="navbar-brand" id="text-portfolio" href="{% url 'tugas:index' %}">MY WEBSITE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
            <a class="nav-link" id="text-portfolio" href="{% url 'tugas:about' %}">ABOUT</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" id="text-portfolio" href="{% url 'tugas:status' %}">STATUS</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" id="text-portfolio" href="{% url 'tugas:library' %}">LIBRARY</a>
            </li>
            <li class="nav-item">
            <button id="button-theme" type="button" name="dark_light" onclick="toggleDarkLight()" title="Ubah Tema">🌓</button>
            </li>
        </ul>
        </div>
        </div>
    </nav>
</body>
{% block page_content %} {% endblock %}
</html>
