{% extends 'pages/base.html' %}{% load static %}{%block page_content %}

<body>
    {% if user.is_authenticated %}
        <div class="text-center middle">
        <h1 class="display-2">Hi {{ user.username }}!</h1>
        <a role="button" id="logoutButton" class="btn btn-primary" href="{% url 'logout' %}">logout</a>
        </div>
    {% else %}
        <div class="text-center middle">
        <h1 class="display-2">Welcome!</h1>
        <p>Oops! You are not logged in yet</p>
        <a role="button" id="loginButton" class="btn btn-primary" href="{% url 'login' %}">login</a>
        </div>
    {% endif %}

<!-- external js -->
<script src="{% static 'js/myScript.js' %}"></script>
</body>

{% endblock %}