{% extends 'pages/base.html' %}{% load static %}{%block page_content %}

<body>
    <div class="padding-welcome">
    <div class="row text-center">
        <div class="col-12 p0">
            <h1>My Library</h1>
        </div>
    </div>
    </div>
    <div class="text-center mb-30">
        <input id="search" placeholder="Title">
        <button id="button-booksearch" type="button">Search</button>
    </div>
    <div id="booktable" class="booktable text-center">
        <table class="table table-striped table-bordered table-hover">
            <thead class="text-center">
            <tr>
                <th>Image</th>
                <th>Title</th>
                <th>Author</th>
                <th>Publisher</th>
                <th>Preview</th>
            </tr>
            </thead>
            <tbody id="results">
            </tbody>
        </table>

    </div>

<!-- external js -->
<script src="{% static 'js/myScript.js' %}"></script>
</body>
{% endblock %}