{% extends 'pages/base.html' %}{% load static %}{%block page_content %}
<!doctype html>
<body id="body" class="dark-mode">
    <div class="padding-welcome">
    <div class="row text-center">
        <div class="col-12 p0">
            <h1>Halo, apa kabar?</h1>
        </div>
    </div>
    </div>
    {% block content %}
    <div class="text-center">
    {% for comment in status %}
        <div class="comment">
            <div class="date">{{ comment.created_date }}</div>
            <p>{{ comment.text|linebreaks }}</p>
        </div>
    {% empty %}
        <p>No status here yet :(</p>
    {% endfor %}
    <form method="POST">
        {% csrf_token %}
        <table class="form">
        {{ form.as_table }}
        <tr><td colspan="2">
            <button type="submit" class="btn btn-primary btn-curve margin-top-1"><b>Add Status</b></button>
        </td></tr>
        </table> 
    </form>
    </div>
    {% endblock %}

<!-- external js -->
<script src="{% static 'js/myScript.js' %}"></script>
</body>
{% endblock %}
