{% extends 'pages/base.html' %}{% load static %}{%block page_content %}

<body>
    <!-- <div class="padding-welcome">
    <div class="row text-center">
        <div class="col-12 p0">
            <h1>Login</h1>
        </div>
    </div>
    </div>
    <div class="text-center">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
    </div> -->
    <div class="container login-container">
        <div>
            <div class="login-form-2 text-center">
                <h1>Login</h1>
                <form method="post">
                    <div class="form-group">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btnSubmit" value="Login" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

{% endblock %}